<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scidoo" version="2.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Scidoo</name>
    <description>
        Gestionale in Cloud per Strutture Ricettive
    </description>
    <author email="info@webcoom.com" href="https://www.webcoom.com">
        Scidoo Team
    </author>
    <content src="index.html" />

	
	
	
	
	 <preference name="android-build-tool" value="gradle" />
	  <preference name="android-minSdkVersion" value="15" />
	  <preference name="android-maxSdkVersion" value="16" />
	  <preference name="android-targetSdkVersion" value="12" />
	  <preference name="android-installLocation" value="auto" />
	  <preference name="android-windowSoftInputMode" value="adjustResize" />
	
    <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="2.1.3" />

	<!-- https://github.com/apache/cordova-plugin-statusbar.git-->

	
	
	
	
	<gap:splash src="cordova-plugin-statusbar" source="npm" />
	
	
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    
	

	
	<icon src="icon.png" />
    <!--<icon src="res/icon/android/36.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/48.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/72.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/96.png"  gap:platform="android"    gap:qualifier="xhdpi" />-->
	
	 <icon src="res/icon/android/36.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/mipmap-mdpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/mipmap-hdpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/mipmap-xhdpi/ic_launcher.png"  gap:platform="android"    gap:qualifier="xhdpi" />
	
   

		
	
	
	
	
	
<platform name="ios">
	<icon height="57" platform="ios" src="res/icon/ios/57.png" width="57" />
	<icon height="114" platform="ios" src="res/icon/ios/114.png" width="114" />
	<icon height="40" platform="ios" src="res/icon/ios/40.png" width="40" />
	<icon height="80" platform="ios" src="res/icon/ios/80.png" width="80" />
	<icon height="50" platform="ios" src="res/icon/ios/50.png" width="50" />
	<icon height="100" platform="ios" src="res/icon/ios/100.png" width="100" />
	<icon height="60" platform="ios" src="res/icon/ios/60.png" width="60" />
	<icon height="120" platform="ios" src="res/icon/ios/120.png" width="120" />
	<icon height="180" platform="ios" src="res/icon/ios/180.png" width="180" />
	<icon height="72" platform="ios" src="res/icon/ios/72.png" width="72" />
	<icon height="144" platform="ios" src="res/icon/ios/144.png" width="144" />
	<icon height="76" platform="ios" src="res/icon/ios/76.png" width="76" />
	<icon height="152" platform="ios" src="res/icon/ios/152.png" width="152" />
	<icon height="29" platform="ios" src="res/icon/ios/29.png" width="29" />
	<icon height="58" platform="ios" src="res/icon/ios/58.png" width="58" />
	<icon height="87" platform="ios" src="res/icon/ios/87.png" width="87" />
	
		
	<icon height="1024" platform="ios" src="res/icon/ios/1024.png" width="1024" />
		
	<splash height="1136" platform="ios" src="res/screen/ios/LaunchImage-568h@2x~iphone_640x1136.png" width="640" />
	<splash height="1334" platform="ios" src="res/screen/ios/LaunchImage-750@2x~iphone6-portrait_750x1334.png" width="750" />
	<splash height="2208" platform="ios" src="res/screen/ios/LaunchImage-1242@3x~iphone6s-portrait_1242x2208.png" width="1242" />
	<splash height="1242" platform="ios" src="res/screen/ios/LaunchImage-1242@3x~iphone6s-landscape_2208x1242.png" width="2208" />
	<splash height="1536" platform="ios" src="res/screen/ios/LaunchImage-Landscape@2x~ipad_2048x1536.png" width="2048" />
	<splash height="768" platform="ios" src="res/screen/ios/LaunchImage-Landscape~ipad_1024x768.png" width="1024" />
	<splash height="2048" platform="ios" src="res/screen/ios/LaunchImage-Portrait@2x~ipad_1536x2048.png" width="1536" />
	<splash height="1024" platform="ios" src="res/screen/ios/LaunchImage-Landscape~ipad_1024x768.png" width="768" />
	<splash height="960" platform="ios" src="res/screen/ios/LaunchImage~iphone_640x960.png" width="640" />
	<splash height="480" platform="ios" src="res/screen/ios/LaunchImage~iphone-320x480.png" width="320" />
	
	
	<plugins-plist key="PushNotification" />

		<header-file src="PushNotification.h" />

		<source-file src="PushNotification.m" />
	
	
	<config-file target="*-Info.plist" parent="CFBundleURLTypes" mode="add">
      <array>
          <dict>
              <key>ITSAppUsesNonExemptEncryption</key>
              <false/>
          </dict>
      </array>
    </config-file>
	

	
	
</platform>

	
	
	
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
  
	
	<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="overwrite">
		<string>We Could use the Camera for capture photo for Hotels</string>
	</edit-config>
	
	<edit-config file="*-Info.plist" mode="merge" target="UIViewControllerBasedStatusBarAppearance">
		<false />
	</edit-config>
	
	
	<preference name="phonegap-version" value="cli-8.0.0" />
	<preference name="StatusBarBackgroundColor" value="#f8f9f8" />
	
	<preference name="DisallowOverscroll" value="false" />
	<preference name="webviewbounce" value="false" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<!--<preference name="StatusBarStyle" value="blackopaque" />-->

	
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	
    <plugin name="onesignal-cordova-plugin" spec="~2.4.1" />
	<gap:plugin name="onesignal-cordova-plugin" spec="^2.4.1" source="npm" />

	
</widget>
