<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scidoo" version="1.9.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Scidoo</name>
    <description>
        Gestionale in Cloud per Strutture Ricettive
    </description>
    <author email="info@webcoom.com" href="https://www.webcoom.com">
        Scidoo Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
	
	
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    
	
	
	
	
	<icon src="icon.png" />
    <icon src="res/icon/android/36.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/48.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/72.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/96.png"  gap:platform="android"    gap:qualifier="xhdpi" />
   
	
	<!--
	
	<icon src="res/icon/ios/icon-40.png"         gap:platform="ios"        width="40" height="40" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
	
	
	<icon src="res/icon/ios/icon-120.png"         gap:platform="ios"        width="120" height="120" />
	<icon src="res/icon/ios/Icon-76.png"         gap:platform="ios"        width="76" height="76" />
	<icon src="res/icon/ios/icon-152.png"         gap:platform="ios"        width="152" height="152" />
		
	<icon src="res/icon/ios/icon-1024-ios.png" gap:platform="ios"  width="1024" height="1024" />
	-->
		
	
	
	
	
	
<platform name="ios">
	<icon height="57" platform="ios" src="res/icon/ios/57.png" width="57" />
	<icon height="114" platform="ios" src="res/icon/ios/114.png" width="114" />
	<icon height="40" platform="ios" src="res/icon/ios/40.png" width="40" />
	<icon height="80" platform="ios" src="res/icon/ios/80.png" width="80" />
	<icon height="50" platform="ios" src="res/icon/ios/50.png" width="50" />
	<icon height="100" platform="ios" src="res/icon/ios/100.png" width="100" />
	<icon height="60" platform="ios" src="res/icon/ios/60.png" width="60" />
	<icon height="120" platform="ios" src="res/icon/ios/120.png" width="120" />
	<icon height="180" platform="ios" src="res/icon/ios/180.png" width="180" />
	<icon height="72" platform="ios" src="res/icon/ios/72.png" width="72" />
	<icon height="144" platform="ios" src="res/icon/ios/144.png" width="144" />
	<icon height="76" platform="ios" src="res/icon/ios/76.png" width="76" />
	<icon height="152" platform="ios" src="res/icon/ios/152.png" width="152" />
	<icon height="29" platform="ios" src="res/icon/ios/29.png" width="29" />
	<icon height="58" platform="ios" src="res/icon/ios/58.png" width="58" />
	<icon height="87" platform="ios" src="res/icon/ios/87.png" width="87" />
	
		
	<icon height="1024" platform="ios" src="res/icon/ios/1024.png" width="1024" />
		
	<splash height="1136" platform="ios" src="res/screen/ios/LaunchImage-568h@2x~iphone_640x1136.png" width="640" />
	<splash height="1334" platform="ios" src="res/screen/ios/LaunchImage-750@2x~iphone6-portrait_750x1334.png" width="750" />
	<splash height="2208" platform="ios" src="res/screen/ios/LaunchImage-1242@3x~iphone6s-portrait_1242x2208.png" width="1242" />
	<splash height="1242" platform="ios" src="res/screen/ios/LaunchImage-1242@3x~iphone6s-landscape_2208x1242.png" width="2208" />
	<splash height="1536" platform="ios" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
	<splash height="768" platform="ios" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
	<splash height="2048" platform="ios" src="res/screen/ios/LaunchImage-Portrait@2x~ipad_1536x2048.png" width="1536" />
	<splash height="1024" platform="ios" src="res/screen/ios/LaunchImage-Landscape~ipad_1024x768.png" width="768" />
	<splash height="960" platform="ios" src="res/screen/ios/LaunchImage~iphone_640x960.png" width="640" />
	<splash height="480" platform="ios" src="res/screen/ios/LaunchImage~iphone-320x480.png" width="320" />
</platform>
	
	
	
	
	
	
	
	
	<!--<preference name="Orientation" value="all" />
        <preference name="AutoHideSplashScreen" value="false" />-->
	<!--
	<platform name="ios">
		

		
		  <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
		 
		  <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
		  <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
		  
		  <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
		  <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
		  <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
		  <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
		  <icon src="res/icon/ios/icon.png" width="57" height="57" />
		  <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
		  <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
		  <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
		  <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
		  <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
		  <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
		  <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
		
		
		
		
		
		
<splash src="res/screen/ios/Default-iphone.png" platform="ios" width="320" height="480" />
<splash src="Default@2x.png" platform="ios" width="640" height="960" />

<splash src="Default-568h@2x.png" platform="ios" width="640" height="1136" />

<splash src="Default-667h@2x.png" platform="ios" width="750" height="1334" />
<splash src="Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
<splash src="Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

<splash src="Default-Portrait.png" platform="ios" width="768" height="1024" />
<splash src="Default-Landscape.png" platform="ios" width="1024" height="768" />

<splash src="Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
<splash src="Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
		
		
		
		
		
		
		-->
		
		
		
		
		
		
		
		
		
		
		
		
		<!--
        <icon height="167" src="res/icon/ios/Icon-83.5@2x.png" width="167" />
		
		
        <icon height="57" platform="ios" src="res/icon/ios/Icon.png" width="57" />
        <icon height="114" platform="ios" src="res/icon/ios/Icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="res/icon/ios/Icon-Small-40.png" width="40" />
        <icon height="80" platform="ios" src="res/icon/ios/Icon-Small-40@2x.png" width="80" />
		
		
		
        <icon height="50" platform="ios" src="res/icon/ios/Icon-Small-50.png" width="50" />
        <icon height="100" platform="ios" src="res/icon/ios/Icon-Small-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="res/icon/ios/Icon-60.png" width="60" />
        <icon height="120" platform="ios" src="res/icon/ios/Icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="res/icon/ios/Icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="res/icon/ios/Icon-72.png" width="72" />
        <icon height="144" platform="ios" src="res/icon/ios/Icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="res/icon/ios/Icon-76.png" width="76" />
        <icon height="152" platform="ios" src="res/icon/ios/Icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="res/icon/ios/Icon-small.png" width="29" />
        <icon height="58" platform="ios" src="res/icon/ios/Icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="res/icon/ios/Icon-small@3x.png" width="87" />
		<icon height="1024" platform="ios" src="res/icon/ios/Icon-1024.png" width="1024" />
		
		
		
		
		
		
		
        <splash height="1136" platform="ios" src="res/screen/ios/Default-667h.png" width="640" />
        <splash height="1334" platform="ios" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" platform="ios" src="res/screen/ios/Default-736h.png" width="1242" />
        <splash height="1242" platform="ios" src="res/screen/ios/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" platform="ios" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" platform="ios" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" platform="ios" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" platform="ios" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" platform="ios" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" platform="ios" src="res/screen/ios/Default~iphone.png" width="320" />
			
    </platform>
		-->
		
		
		
		
		
		
	
	
	

	
	
	
	<!---
	
    <icon src="res/icon/webos/icon-64.png"          gap:platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" /> -->



    <!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    
   <!-- <gap:splash src="res/screen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />
	-->
   <!-- 
<gap:splash src="res/screen/windows-phone/screen-portrait.jpg"      gap:platform="winphone" />
<gap:splash src="res/screen/blackberry/screen-225.png"              gap:platform="blackberry" />


	
	
    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>-->

	
	


	
	
	
	<!--
	
	<platform name="android">
        <icon density="ldpi" src="res/icon/android/ic_launcher.png" />
        <icon density="mdpi" src="res/icon/android/ic_launcher.png" />
        <icon density="hdpi" src="res/icon/android/ic_launcher.png" />
        <icon density="xhdpi" src="res/icon/android/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icon/android/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icon/android/ic_launcher.png" />
        <splash density="land-ldpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-mdpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-hdpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-xhdpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-xxhdpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-ldpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-mdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-hdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-xhdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splashscreen.png" />
    </platform>
    
    <platform name="wp8">
        <icon height="99" platform="wp8" src="res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="res/icon/wp8/Background.png" width="159" />
        <splash height="1280" platform="wp8" src="res/screen/wp8/screen-portrait.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="res/icon/windows/Square150x150Logo.scale-100.png" width="150" />
        <icon height="30" platform="windows" src="res/icon/windows/Square30x30Logo.scale-100.png" width="30" />
        <icon height="50" platform="windows" src="res/icon/windows/StoreLogo.scale-100.png" width="50" />
        <splash height="300" platform="windows" src="res/screen/windows/SplashScreen.scale-100.png" width="620" />
        <icon height="120" platform="windows" src="res/icon/windows/StoreLogo.scale-240.png" width="120" />
        <icon height="44" platform="windows" src="res/icon/windows/Square44x44Logo.scale-100.png" width="44" />
        <icon height="106" platform="windows" src="res/icon/windows/Square44x44Logo.scale-240.png" width="106" />
        <icon height="70" platform="windows" src="res/icon/windows/Square70x70Logo.scale-100.png" width="70" />
        <icon height="71" platform="windows" src="res/icon/windows/Square71x71Logo.scale-100.png" width="71" />
        <icon height="170" platform="windows" src="res/icon/windows/Square71x71Logo.scale-240.png" width="170" />
        <icon height="360" platform="windows" src="res/icon/windows/Square150x150Logo.scale-240.png" width="360" />
        <icon height="310" platform="windows" src="res/icon/windows/Square310x310Logo.scale-100.png" width="310" />
        <icon height="150" platform="windows" src="res/icon/windows/Wide310x150Logo.scale-100.png" width="310" />
        <icon height="360" platform="windows" src="res/icon/windows/Wide310x150Logo.scale-240.png" width="744" />
        <splash height="1920" platform="windows" src="res/screen/windows/SplashScreenPhone.scale-240.png" width="1152" />
    </platform>-->
	
	
	
	<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="overwrite">
		<string>We are using the Camera for something...</string>
	</edit-config>
	<preference name="phonegap-version" value="cli-7.1.0" />
	<preference name="StatusBarBackgroundColor" value="#203a93" />
	
	
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="onesignal-cordova-plugin" spec="~2.1.2" />
</widget>
