

/* Portrait layout (default) */
.app {
    background:url(../ScidooLOGO.png) no-repeat center center;  /*170px x 200px */
	background-size:290px 145px;;
    position:absolute;  
	left:0px; top:0px;           /* position in the center of the screen */
   width:100%;
   height:100%;
    text-align:center;
	
	
	
	                /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
         /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

