/*
@font-face {  font-family: 'WorkSans';  font-weight: 300;  src: url('WorkSans-Light.otf') format("opentype");}
@font-face {  font-family: 'WorkSans';  font-weight: 400; src: url('WorkSans-Regular.otf') format("opentype");}

@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
*/

/*
@font-face {  font-family: 'nova_regular';   src: url('nova_regular.ttf') format("opentype");font-weight: normal;font-style: normal;} 
@font-face {  font-family: 'nova_medium';   src: url('nova_medium.ttf') format("opentype");font-weight: bold;font-style: normal;} 
@font-face {  font-family: 'nova_soft_medium';   src: url('nova_soft_medium.ttf') format("opentype");font-weight: bold;font-style: normal;} 
*/

*{ touch-action: manipulation;}
  
@font-face {
  font-family: 'nova_regular';
  src: url('nova_regular.ttf') format('truetype');font-weight:normal;font-style: normal;
 
}

@font-face {
  font-family: 'nova_regular';
  src:   url(nova_medium.ttf) format('truetype'); font-weight: bold; font-style: normal;
}


@font-face {
  font-family: 'nova_regular';
  src:  url(nova_soft_medium.ttf) format('truetype');font-weight:bold;font-style: normal;
}


body,html{
  font-family: 'Varela Round', sans-serif !important;
  font-family: 'nova_regular', sans-serif !important;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}
button {  font-family: 'nova_regular', sans-serif !important;} 

 
 
.scidoo_visibile_medium{}
@media (max-width: 1336px){
 .scidoo_visibile_medium{display: none!important}
}

@media (min-width: 1336px){
.scidoo_hidden_medium{display: none!important}
}

.btn_scroll2{position:relative;  width:calc(100% - 80%);  display:inline-block;}


.btn_scroll{font-size: 12px;text-transform:capitalize;font-weight: 600;position:relative; margin-left:15px; margin-right:10px; border-radius:50%; padding:0px; width:55px; height:55px;    color: #fff;  display:inline-block;}
.btn_scroll .div_icon{ position:absolute; top:50%; font-size:22px;left:50%;transform: translate(-50%,-50%); }
.btn_scroll .div_text{position:absolute; top:65px; width:100%; left:0px; text-align:center; font-size:9px; color:#333;}
.notifiche_chat{position: absolute; width: 15px;   height: 15px;    border-radius: 50%;  text-align: center; line-height: 15px; right: 0px; top: 0px; }
.notifiche_chat.back_red{ background: #eb0e0e;}

.check_in_btn{background:#4a92fe }
.conferma_btn{color: #fff;    font-weight: 600 !important;    font-size: 12px;   text-transform: uppercase;   padding: 0px;   border-radius: 10px;
padding: 7px;    line-height: 11px;    padding-top: 6px;border:none;outline: none;margin-top: 10px;}


.informazioni_btn{color: #007aff; background:transparent; border:none;  font-weight: 600 ;   min-width: 70px;  font-size: 11px;  text-transform: uppercase;border-radius: 7px; padding:10px 7px;  margin-right:10px;
max-width: 30ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.titolo_paragrafo{text-transform:capitalize;font-size:16px;font-weight:600;padding-left:15px;margin-top:25px;color:#000;align-items: baseline; display: flex; flex-direction: row; justify-content: space-between;  padding: 8px 16px 12px;}   
.nome_serv{font-weight:400;color:#202124; text-align: left;white-space: normal;  overflow-wrap: break-word; color: #202124;font-size:18px;}
.container_serv{min-height:270px;border-radius:10px;background:#ffffff4d;width:calc(100% - 40%);margin-right:15px;;position:relative;float:left;min-width:calc(100% - 40%);}
.itinierari_serv{min-width:calc(100% - 30%);width:calc(100% - 30%) }

.cont_nome_serv{position:relative;max-height:70px;overflow:hidden;padding-bottom:5px;}
.cont_txt_serv{border-left: 1px solid #dadce0; border-right: 1px solid #dadce0; border-bottom: 1px solid #dadce0;border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
    padding:10px;display: flex;flex-direction: column;  flex: auto;height: 150px;}


.uk_menu_nav{/*border-bottom: 1px solid #e0e0e0;*/}


.uk-nav>li.uk-active>a:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0;
}

.menu_nav_puls{position: relative;}
.summernote{margin-top:10px;padding:0px 10px;padding-bottom: 50px;}
  .summernote table{border-collapse: collapse;}
  .summernote table td{border:1px solid #000}
  .summernote a{color: #007aff;}
  .summernote img,.summernote iframe{width: 100% !important;}

 .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{min-height: 50px;}

.schermoint{margin:auto; margin-top:35px; line-height:62px; height:45px; background:#f8f9f8; width:59px; width:60px; padding:15px;border:none; border-radius:5px; 
   box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1); }
.testoschermoint{color:#000;  text-align:center; margin-top:13px;text-transform:capitalize; font-weight:400; margin:0px; margin-left:10px; text-align:left !important; line-height:15px !important; font-size:15px;}
.testoschermoint span{font-size:10px !important; color:#888 !important;}
.schermob{/*
  border-radius:3px; 
  width: calc(33% - 6px);
  margin-top:4px;
  display:inline-block;*/
  float: left;
    border-radius: 2px;
    border: none;
    width: calc(48%);
    background: transparent;
    height: 63px;
    text-align: center;
    margin: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
  
}


#calendar_div {  width: 100%; height: 86vh;  display: grid; grid-template-columns: 95px auto;  grid-template-rows: 40px auto;  grid-template-areas:    ". header"  "side body";background:#fff;}
#calendar_div .side{grid-area: side;  overflow: hidden;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
#calendar_div .header{ grid-area: header; overflow: hidden;border-right: 1px solid #e1e1e1;background:#f9f8f9;}
#calendar_div .body { grid-area: body; overflow: auto;  }
#calendar_div  .cont_body {border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; position:relative;font-size: 12px;}

#calendar_div  .data_header{text-align:center; border-bottom:1px solid #e1e1e1;}
#calendar_div  .data_header div{margin-top:5px;text-align:center;font-size:11px;color:#000;line-height:15px; }

#calendar_div  .appnew{padding: 0px 5px;border-bottom: 1px solid #e1e1e1;border-right: 1px solid #e1e1e1;position: relative;display: flex;  align-items: center;}

#calendar_div  .appnew .nome{font-size:13px;text-align:left; color:#000;   line-height: 1; padding-left: 5px;}
#calendar_div  .riga_txt{display:flex;margin:0;padding: 0;   width: max-content;}
#calendar_div  .appnew .nome span{font-size: 10px;   color: #888;}

#calendar_div .data_header.oggi div {  color: #30A947;}


.div_grid_angolo{position: absolute;top:0;left:40px;z-index: 2;    background: #f9f8f9;width: 95px;}
.div_grid_angolo .testo_mese{font-weight: 600; text-align: left;  color: #2542d9; margin: 5px 0px;   line-height: 15px;   padding-left: 5px;  font-size: 13px;}

.divcal{position:absolute; margin:0px; background:#C8B31A;  text-align:left;   overflow:hidden; z-index:1; 
  border:none; height: -webkit-fill-available; border-radius:0px;color:#fff;border-right: 1px solid #e1e1e1;}

.divcal div{text-overflow:clip; white-space:normal; word-wrap:break-word; line-height:12px; display: table-cell; vertical-align: middle;padding:2px;}

.divcal.base{ background-color:#459eca; color:#fff; } /* blu*/
.divcal.saldo{background-color:#00b65b; color:#fff; } /* verde*/
.divcal.acconto{background-color:#E6AF16; color:#fff;}/* fucsia*/
.divcal.incerto{background-color:#e41e1e; color:#fff;;} /* rosso*/
.divcal.arrivato{background-color:#ef11d3; color:#fff;} /* fucsia*/
.divcal.annullata{border:solid 1px #912424; color:#912424; font-weight:400;  } /* verde*/
.divcal.credit{background-color:#f48004; color:#fff;} /* arancione*/
.divcal.manuale{ background-color:#284D94; color:#fff; } /* blu*/
.noteesc{background:#BC3B3D; color:#fff; line-height:20px;} /* verde*/
.nosoggcal{color:#2FAD6C; }

.noteesc{ background: #BC3B3D; color:#fff;     height: -webkit-fill-available;   width: -webkit-fill-available;    padding: 2px;  padding-top: 6px;    line-height: 15px;  font-size: 12px;  text-align: center;}
.senzasdiv{  color:#fff; background:#fb7f05;     height: -webkit-fill-available;text-align: center;}
.solonota{  color:#BC3B3D;  height:45px;  width: 50px;  margin-left: 2px;  margin-top: 2px;   border-radius: 5px;  padding: 2px;  padding-top: 6px;  line-height: 12px; font-size: 14px; text-align: center;}

.pren_annu{position: relative; background: #912424;color: #fff;  text-align: center; }

 
.close {background-color: #a2070a;  opacity: 0.5;}

.uk-section{padding-top: 40px;padding: 0px;}

@media (max-width: 959px){
  .container_no_mobile{padding:0px 0px;}
  .div_grid_angolo{left:2px;top:0px;}
}

#navigation_back{color: #000 ;  border-radius: 5px;   line-height: 1;padding: 5px;  display: none;border:none;font-weight: 600;}
#navigation_back span.uk-icon{color: #000 ;}

.button_nav_uk{color: #000 ;  border-radius: 5px;   line-height: 1;padding: 5px; border:none;font-weight: 600;}
.button_nav_uk span.uk-icon{color: #000 ;}

@media(max-width: 959px){
   #calendar_div .body {   margin-bottom: 0; }
}

.uk-tab>*>a{text-transform: uppercase !important;     font-size: 12px;
    font-weight: 600 !important;}

@media(max-width: 400px){
  .uk-tab{flex-wrap: nowrap;}
}

span.uk-icon{color: #6d6d6d}

.stepperrestr{height: 30px;margin-top: -5px}
.stepperrestr .stepper-button-minus{border-radius: 5px 0 0 5px;height: 30px;border:1px solid #c5c5c5;width: 40px;}
.stepperrestr .stepper-button-plus{border-radius: 0 5px 5px 0;height: 30px;border:1px solid #c5c5c5;width: 40px;}
.stepperrestr .stepper-value{border:none; width: 35px;color:#000}
 
/* === Stepper === */
.stepper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.stepper-button,
.stepper-button-minus,
.stepper-button-plus {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
 
.stepper-value {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border:none
    -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-align: center;
}
 

.stepper-button-plus,
.stepper-button-minus {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
 
 
 .stepper-button:first-child,
 .stepper-button-minus:first-child,
 .stepper-button-plus:first-child {
  border-radius: 5px 0 0 5px;
}
 .stepper-button:last-child,
 .stepper-button-minus:last-child,
 .stepper-button-plus:last-child {
  border-radius: 0 5px 5px 0;
}
 .stepper-button:active,
 .stepper-button-minus:active,
 .stepper-button-plus:active {
  background: rgba(0, 122, 255, 0.15);
}
 
 @keyframes animatebottom {
  from {
    transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}
.uk-picker-overlay { content: "";  position: fixed;  top: 0;  bottom: 0;   left: 0; right: 0; background: rgba(0,0,0,.5); z-index: 1001;  transition: opacity .15s linear;}
.uk-picker{ animation: animatebottom 0.4s; position: fixed;bottom: 0;left: 0;right: 0;width: 100%;        border-top-right-radius: 15px;   border-top-left-radius: 15px;  border-top: 1px solid #e1e1e1;z-index: 1001;
  height: 400px;background: #fff;    clear: both; overflow: hidden;}
.uk-picker .nav{border-bottom: 1px solid #e1e1e1;padding: 5;text-align: right;color: #203a93;font-weight: 600;}
.uk-picker .content{overflow-y: auto;margin-top: 5px;  height: calc(100vh - 100px);  display: block;color: #000;height: calc(100% - 8px);}
.uk-picker .content.content_picker_nav{height: calc(100% - 90px);}
.uk-picker .nav .icona_chiudi{       color: #333;
    font-size: 24px;
    padding: 5px 0;
    margin-left: 10px;} 

.nav.navbar_picker_flex .uk-tab::before{border: none !important}
.nav.navbar_picker_flex  .uk-tab>.uk-active>a { color: #203a93; }

 

.uk-navbar-item{color: #2542d9 !important}
body.picker_imp{width: 100%;height: 100%;position: relative;;overflow: hidden;}

.lista_grid_nome{font-size: 17px;
    color: #000;
    line-height: 16px;
    margin: auto;
    font-weight: 400;
  }
.lista_grid_nome span{font-size: 11px;}
.lista_grid_right{
  font-weight: 400;
    color: #777;
    margin: auto;
    font-size: 17px;
}
.uk_grid_div{min-height:30px;}

.lista_grid_numero{min-width: 40px;color: #2542d9;font-weight: 600;}


.modal-action-sheet {padding: 15px 5px !important; height: 100% ;padding: 15px 0px  !important; background: rgba(68, 68, 68, 0.3) !important;transition: unset;    position: fixed;
    top: 0;  right: 0;   bottom: 0;  left: 0;  z-index: 1010;  overflow-y: auto;}

    
.dialog-action-sheet{border-radius: 5px;background:transparent !important;    position: absolute !important;bottom: 0 !important;    margin: 0px 4px;max-width: 98% !important;transform:translateY(calc(100%));    transition-property:transform;    transition: .15s linear !important;}
.scorri_sotto{transform: translateY(calc(-10px)) !important;       transition: 0.3s linear;
    transition-property: transform;}

.dialog-action-sheet .uk-modal-body{padding: 0 !important;}

.dialog-action-sheet .group_btn:not(:first-child) { margin-top: 10px;}

.dialog-action-sheet .group_btn button:first-child{border-top-left-radius: 5px;border-top-right-radius: 5px;}
.dialog-action-sheet .group_btn button:last-child{border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.dialog-action-sheet .group_btn button{background: #fff;padding:5px;    font-size: 15px;  font-weight: 400;  text-align: center;    color: #2542d9;border-top:0 ;}
.dialog-action-sheet .chiudi{background: #fff;border-radius: 5px;padding:5px;font-weight: 600;color:#000;}
.input_cli{border: none; text-align: left;color:#333;font-weight: 600;}

.uk-notification-message-main_notifica{color: #1e87f0;  font-size: 13px;  border-radius: 5px; box-shadow: 1px 2px 5px 1px #b7b7b7}
.uk-notification-message{ box-shadow: 1px 2px 5px 1px #b7b7b7 !important;  font-size: 13px !important;  border-radius: 5px !important; }

.ric{background: #fff;
    box-sizing: border-box;
    position: absolute;
    z-index: 500;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    min-width: 100px;
    text-align: left;left:0;max-height: 200px; overflow: auto;    padding: 10px;  border: 1px solid #d3d3d3;  border-radius: 4px; box-shadow: 0 2px 5px rgba(0,0,0,.1);display: none;}

.uk-spinner-autocomplete{ position: absolute;  top: 0;    bottom: 0;    left: 0;    display: inline-flex;     justify-content: center;   align-items: center;     color: #999;display: none}




select.uk-select.input_cli option{display: none;}
select.uk-select.input_cli {
    /* height: 0 !important; */
    background: none;
    color: unset;
    background-color: unset;
    border-color: unset;
    outline: none;
    border: none;
}

.griglia_benessere{background: #fff;  border-left: solid 1px #e1e1e1;border-bottom: 1px solid #e1e1e1;color: #000;  font-size: 14px; margin: auto;}
.griglia_benessere >*{padding-left: 0}
.griglia_benessere div.h50 { height: auto;  min-height: 50px; }
.griglia_benessere div.h25 {height: auto;   min-height: 25px;}
.griglia_benessere.bordo div {  border-right: solid 1px #e1e1e1;   border-top: solid 1px #e1e1e1; }
.griglia_benessere .ora{padding-left: 5px;}
.griglia_benessere.bordotop div{border-top: 1px solid #e1e1e1;}

.centro_benessere_servizi{    padding:0px 10px;   margin: 5px !important;border:none; border-radius:3px;height: 55px;}
.centro_benessere_servizi >*{border:none !important;padding: 0}
.fs10{font-size: 10px;}
.fs11{font-size:11px;}
.fs12{font-size: 12px;}

.griglia_benessere.bordotop { border-right: 1px solid #e1e1e1; }

.div_centro_ben{padding:5px 0px !important;width: 95%;  margin: auto;   border-radius: 3px;}

.divorari{font-size: 11px;  overflow: hidden; position: absolute;   border-radius: 3px; padding: 0 5px;   z-index:1; margin: 3px 5px !important;   color: #fff;    left: 10px;
    top: 2px;}

.btn-sosp{width:60px;height:60px;position:fixed;bottom:5px;right:5px; z-index:9;line-height:15px;padding-top:10px;border-radius:50%;color: #fff; font-size: 14px;    background: #007aff;text-align: center;}

 
.ntavolo{ background: #375EB3;   width: 20px; height: 20px; font-size: 11px;  line-height: 20px;   padding: 3px; border-radius: 50%;   margin: auto;  font-weight: 400;  color: #fff;  text-align: center; }

.ntavolo.tav1{background-color:#AD3234;}
.ntavolo.tav2{background-color:#9A37A4;}
.ntavolo.tav3{background-color:#C3BB2B;}
.ntavolo.tav4{background-color:#3BAD81;}
.ntavolo.tav0{background-color:#333;}
.ntavolo.tav01{background-color:#ccc;}


.row_pul_gior{height:45px;position:relative;border-bottom: 1px solid #e5e5e5;margin-top:0px !important;margin-bottom: 0px !important}
.row_pul_gior:first-child{border-top: 1px solid #e5e5e5;}
.stato_pul_gior{position:absolute;width:10px;height:10px;border-radius:50%;top:5px;left:5px;}
.nome_pul_gior{font-size:13px;  text-align: center;padding:0 5px;height:100%;color:#000;border-right: 1px solid #e5e5e5;}
.modifica_pul_gior{margin:auto;margin-top:5px;width:60px;text-transform: none;background:#fff;color:#565656;font-weight: 400;font-size: 11px;text-align: center; border-radius: 3px;}
.nome_alloggio_gior{text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;   text-transform: uppercase; text-align: center;    font-weight: 600;margin-top:10px;}
.servizio_pulizia_gior{font-size: 14px;   max-width: 20ch;  overflow: hidden; white-space: nowrap;    text-overflow: ellipsis;}

.uk_tab_pulizie{padding: 10px 0; overflow: auto; white-space: nowrap;   background: #fff;    margin: 0;flex-wrap:unset;background: #2574ec}
.numero_not_giorn{position: absolute;width: 13px;   height: 13px;    border-radius: 50%;  text-align: center;line-height: 15px;  font-size: 11px;  right: -3px; top: -3px; background: #eb0e0e;color:#fff; }

.uk_tab_pulizie li { padding-left: 7px;}
.uk_tab_pulizie li >a {border: none;    color: #fff;/*color:#2574ec;*/outline: none;}
.uk_tab_pulizie li >a:hover,.uk_tab_pulizie li >a:focus{color:#fff;}
.uk_tab_pulizie li.uk-active >a { /*color:#1e87f0; color:#2574ec;*/color:#fff;text-decoration: underline;}

.tab_prezzi li >a{color: #2574ec !important}
.tab_prezzi li.uk-active >a{color: #2574ec !important;text-decoration: underline;}

.lista_icone_pul i{color: #a7a7a7;font-size: 9px;margin-right: 2px;}
.lista_icone_pul{font-size: 14px;  color: #111;  font-weight: 500;}


.desc_pul_gior{margin: auto;padding-left: 10px;}
.riepilogo_pulizie_div{background:#fff}









.info_pul {height:40px;border-radius:3px;margin-left:35px;z-index:1;top: 2px;position:absolute;transform:skewX(-10deg);   padding-left: 4px;  background:#459eca;color:#fff;overflow: hidden;}
.notifiche_pul{width: 13px;height: 13px;font-size:8px;line-height: 15px;border-radius: 50%;border: 1px solid;color: #fff;line-height:12px;position:absolute;text-align:center;z-index:2}

.div_btn_pulizie{ }
.div_btn_pulizie button{border:none;line-height: 25px;padding: 0 15px;background-color: transparent;  color: #333;border: 1px solid #e1e1e1;background: #fff}
.div_btn_pulizie button:first-child{border-bottom-left-radius: 5px;border-top-left-radius: 5px;}
.div_btn_pulizie button:last-child{border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.div_btn_pulizie button.active{background: #2542d9;color:#fff;font-weight: 600;}

.button_bottom_div{position:fixed;bottom:5px;right:10px;}
.button_bottom_div button{width: 100%;   background: #2542d9; border: none;  color: #fff;   border-radius: 5px;   padding: 5px 10px;   font-size: 16px;}



.conversation {
   position: relative;
    z-index: 0;
    overflow-y:auto; height: 70vh;height: 300px;
 /* height: calc(100% - 12px);
 
  background: url("https://i.ibb.co/3s1f9Jq/default-wallpaper.png") repeat;*/
 
}

 /*
.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}
*/

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

.conversation .conversation-container {
/*  height: calc(100% - 68px);
  box-shadow: inset 0 10px 10px -10px #000000;
  overflow-x: hidden;*/
  padding: 0 5px;
  margin: 0 5px;
}

.conversation .conversation-container:after {
  content: "";
  display: table;
  clear: both;
}



.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
  box-shadow: 1px 2px 4px -1px #999999;box-shadow: 0px 2px 5px 0px #bfbfbf;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

 
.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #eee;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #eee transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}


.messages-date {
    clear: both;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    margin: 15px 15px;
    color: #000;
}


.conversation-compose {  display: flex;  flex-direction: row;  overflow: hidden; min-height: 70px ; padding:10px 0;  width: 100%;  z-index: 2;}

 
.conversation-compose .editable { outline: none;  max-height: 100px; min-height: 50px;   overflow: auto;   flex: 1 1 auto; padding:2px 5px; background-color: #fff;  border-radius: 5px;  border: 1px solid #e1e1e1;font-size: 14px;}


 
 

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
  font-size: 14px;
  padding: 5px;
}
 

.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
  margin-left: .5rem;
}

.conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 1px;
}

body{background-color: #f3f2f7;background-color: #fff}
.div_cambia_data_nav{color:#2542d9;padding-right:5px;}

.uk-navbar-container.sfondo_navbar{background:#f9f8f9 !important;background: #2574ec !important}
.uk-navbar-container.sfondo_navbar a,.uk-navbar-container.sfondo_navbar i,.uk-navbar-container.sfondo_navbar #navigation_back , .uk-navbar-container.sfondo_navbar .div_cambia_data_nav{color: #fff !important}
.uk-navbar-container.sfondo_navbar .uk-inline .uk-form-icon i{color: #666 !important}
.uk-navbar-container.sfondo_navbar .testo_sinistra{    font-weight: 600;   color: #fff !important; font-size: 25px;}

.navbar_ospite{background:#f9f8f9 ;background:#fff !important;}
.navbar_ospite a , .navbar_ospite i , .navbar_ospite #navigation_back  ,.navbar_ospite .div_cambia_data_nav {color:#2574ec!important;}



.tab_scelta_sottomenu{width: 100%;  background: #f9f8f9;   position: fixed;   top: 50px;  z-index: 11;background: #2574ec}
 .tab_scelta_sottomenu .uk-tab>*>a{color: #fff}
 .tab_scelta_sottomenu .uk-tab>.uk-active>a{color: #fff;text-decoration: underline;border:#fff;}

 
.ricerca_bar_fixed{ z-index: 1;  position: fixed;   top: 45px;   background: #f9f8f9; background: #2574ec;  width: 100%;  padding-bottom: 5px;  text-align: center; }
.ricerca_bar_fixed .uk-inline {  width: 95%;  margin: auto;   text-align: center;} 
.ricerca_bar_fixed .uk-input {border: 1px solid #e1e1e1;height: 30px;  font-size: 15px;  border-radius: 5px;margin:5px 0px}

.div_container_principale{padding-top: 40px;}

.div_list_uk{background:#fff;margin:0 !important;padding:7px 0px;border-bottom:1px solid  #e5e5e5;width: 100%;min-height: 45px;}
.div_list_uk.uk-grid>*{padding-left:30px;}
.div_list_uk.uk-grid>.uk-text-right {padding-right: 10px;}

.div_uk_divider_list{    border-bottom: solid 1px #e2e2e2;  padding: 8px 10px;     margin: 0 !important;color: #626264;font-weight: 500;
      font-size: 16px;
    margin-top: 25px !important;
    color: #007aff;
        margin-left: 10px !important;
}

.div_list_uk.uk-grid>.uk-text-right .stepper{padding-top: 3px;padding-right: 10px;}

.pren_giornaliere_notifica{border-radius: 50%;  width: 15px ;  height: 15px ;   padding: 0px ;    line-height: 15px;  text-align: center; display: inline-block;  margin-right: 10px;}
.base{ background-color:#459eca; color:#fff; } /* blu*/
.saldo{background-color:#00b65b; color:#fff; } /* verde*/
.acconto{background-color:#E6AF16; color:#fff;}/* fucsia*/
.incerto{background-color:#e41e1e; color:#fff;} /* rosso*/
.arrivato{background-color:#ef11d3; color:#fff;} /* fucsia*/
.annullata{background-color:#912424; color:#fff; } /* verde*/
.manuale{background-color:#284D94; color:#fff; }
.credit{background-color:#f48004; color:#fff; }

.uk_picker_select{  border: 1px solid #e1e1e1; border-radius: 3px;padding: 0;}
.uk-form-icon-flip~.uk_picker_select{padding-right: 20px !important}
.uk_picker-select.uk-form-icon{width: 20px;}

.div_dettagli_preventivatore{    color: #2a6eff;   padding: 10px;   margin: 5px; font-weight: 600;   background: #fff;  box-shadow: 0 0 5px 1px #e1e1e1;}

 
.searchbox-result__item{min-height: 25px !important;  border-bottom: solid 1px #f5f5f5;  z-index: 999;   padding-left: 8px !important; font-weight: 400 !important; font-size: 13px !important; color: #191919;   display: flex !important;  align-items: center;}

.div_risultati_ricerca.ric{width: 100%;}

.navbar_picker_flex{display: inline-flex;width: 100%;justify-content: space-between;}
.scroll_menu_ricerca{ overflow: auto;  white-space: nowrap; margin: 0 0px;padding:5px}
.scroll_menu_ricerca div.livello_principale{    display: inline-block;   color: #000;    text-align: center;border-radius:3px;     border: 1px solid #969696;    padding: 10px;  text-decoration: none;  margin: 10px 0;}

.seleziona_retta.retta_selezionata{background: #2a6eff !important;   color: #fff !important;  border-color: #2a6eff !important;}
.categorie_rette{}
.categorie_rette.active{display: block;}

.sconti_div_proposta{border-bottom: 1px solid #e1e1e1;    padding: 5px 10px;}
.sconti_supplementi_ricerca {font-size: 17px;    font-weight: 600;}
.sconti_supplementi_ricerca_contenuto{font-size: 14px;  margin: 0; font-weight: 400;overflow: auto;  white-space: nowrap;}
.div_elementi_extra_scrollable { display: inline-block;   padding: 5px; background: #f1f1f1;  border-radius: 5px; }


.tasto_menu_default{border-radius: 3px; padding: 10px 5px;  color: #2a6eff; font-size: 15px;  margin-right: 10px;  font-weight: 600; display:inline-flex;    align-items: center;  
  box-shadow: 0 0 5px 1px #e1e1e1;
    background: #fff;}

 .tasto_menu_default i{margin-right: 5px;}  
 .tasto_menu_default.selected{background:#2a6eff;color: #fff; }
 .content_tab_menu{padding: 5px 10px}
 
 .content_tab_menu .content_interno{margin-bottom: 10px;}

 

.carrello_preventivo{position: fixed;  bottom: 0;  height: 120px; background: white; width: 100%; margin: 0;  padding: 0; right: 0;display: none;}
.carrello_preventivo.mostra_carrello{display: block;box-shadow: 0 0 5px 1px #e1e1e1}




.foto_preventivatore_strutture {  height: 100px; width: 100px;  border: 1px solid #e1e1e1; border-radius: 3px;  background-size: cover;  float: left; display: inline-block;   margin: 5px;position: relative;}

.no_before:before{content: none !important;}

.notifica_proposta_preventivo{height: 5px;   width: 5px; background: red; border-radius: 5px;  position: absolute;  top: -3px; right: -2px;}

.pulsante_div_note_preventivo{padding:0;border:1px solid #e1e1e1;border-radius: 2px;margin-bottom: 10px;min-width: 55px;min-height: 50px}
.pulsante_div_note_preventivo >a{border: none;padding:15px;height: 100%}
.pulsante_div_note_preventivo.uk-active{border-color: #1e87f0}
.pulsante_div_note_preventivo.uk-active >a{color: #1e87f0;}

.textarea_div_note_preventivo div{padding: 0 10px}
.textarea_div_note_preventivo textarea{min-height:250px;resize:none;padding:0;border-radius:2px;}


.menu_uk_picker_icona{background:#f8f8f8;  width: 100%;   padding:   0px;  margin: 0;  text-align: center;  margin: auto;     place-content: center;border-bottom:1px solid #e1e1e1}
.menu_uk_picker_icona li{    margin: 0px;  width: 65px;    border:none;padding: 0}
 
.menu_uk_picker_icona li >div{font-size: 20px;  border: none; padding: 13px 0;   vertical-align: bottom;    text-align: center;  margin: auto;display: block;  color: #999; transition: color .1s ease-in-out;}
.menu_uk_picker_icona li >div i{margin-left: 5px;}
.menu_uk_picker_icona li.uk-active{}
.menu_uk_picker_icona li.uk-active >div{color:#1e87f0 }   
  
 
.button_salva_preventivo{    border: none;  border-radius: 3px; background: #2a6eff;  padding: 5px 10px;color: #fff;font-size: 14px;font-weight: 600;text-transform: uppercase;}
.button_grey_uk{background: #E4E4E4 ;color:#333;border-radius: 3px;padding: 2px 5px;border: 1px solid #e4e4e4;}



.lista_proposte_preventivo {box-shadow: 0 0 5px 1px #e1e1e1;  background: #fff;    border-radius: 3px;}
.lista_proposte_preventivo li{  padding: 10px 5px;  }
.lista_proposte_preventivo li .nome_proposta{    color: #2a6eff;     font-size: 15px;    text-transform: uppercase;text-overflow: ellipsis;}

.contenitore_ricerca{padding: 10px 5px;}
 
.lista_proposte_preventivo>:nth-child(n+2){margin: 0}

.celle_categorie {padding: 5px;  box-shadow: 0 0 5px 1px #e1e1e1; margin-top: 5px;    border-radius: 3px;  background: #f5f5f5; color: #000;box-shadow: 0 0 2px 1px #e1e1e1;}
 
.div_nome_proposta{    font-size: 16px;   max-width: 25ch; clear: both;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


.richieste_carrello{margin:5px; box-shadow: 0 0 5px 1px #e1e1e1;  font-size: 14px; display: inline-block;padding:0px 5px;border-radius: 2px}
.richieste_carrello .nome_retta_richiesta{ white-space: nowrap;   overflow: hidden; text-overflow: ellipsis;max-width:25ch;color:#2a6eff;font-weight:600}
.richieste_carrello .totale_richiesta{ font-weight:600;color:#2a6eff}
.richieste_carrello .nome_categoria{white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  max-width: 25ch;}

.pulsanti_preventivo_carrello{padding: 5px;  margin: 5px;  background: #2a6eff;  border-radius: 3px;  color: #fff;  box-shadow: 0 0 5px 1px #e1e1e1;    border: none;outline: none; font-size: 25px;   width: 100%; height: 50px;}
.riga_proposta_nome{    display: inline-flex;  width: 100%; place-content: space-between;}
.uk-modal-dialog{border-radius: 3px !important}

.btn_sconti_dettagli{border: none;  border-radius: 3px; background: #d80404;  padding: 5px 10px;   color: #fff; font-size: 12px; text-transform: uppercase;}

.btn_sconti_salva{    border: none;  border-radius: 3px;  background: #2a6eff;    font-weight: 400;  padding: 5px;  font-size: 12px; text-transform: capitalize;color:#fff;}
.btn_avanti_preventivo{ border: none;  padding: 5px 10px; outline: none;    border-radius: 2px;  background-color: #007aff; color: #fff;   transition: background-color .3s;}

.testo_elissi_standard{ clear: both;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}



 /*picker action*/
.picker_action{height: auto !important;}
.picker_action .content{height: fit-content !important;}
.uk_picker_action{margin: 0;    padding: 5px 10px;font-weight: 600;list-style: none;}
.uk_picker_action li{font-size: 17px;border:none;border-bottom: 1px solid #e1e1e1;  padding: 10px 0 ;margin: 5px 0}
.uk_picker_action li:last-child{border:none;}
.picker_action_elementi_extra{padding-bottom:5px; position: fixed;  width: 100%; bottom: 0;}


input.apple-switch {position: relative;appearance: none;outline: none;width: 45px;height: 25px;background-color: #ffffff;border: 1px solid #D9DADC;border-radius: 50px;box-shadow: inset -20px 0 0 0 #ffffff;transition-duration: 200ms;transition: .2s ease-in-out;transition-property: background-color,border;-webkit-appearance: none;vertical-align: middle;}

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 1px; left: 1px;
  width: 21px; height: 21px;
  background-color: transparent;
  border-radius: 50%; box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input.apple-switch:checked {
  border-color: #4ED164;
  box-shadow: inset 20px 0 0 0 #4ED164;
}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}


/* background: #fff;  padding: 5px;  border-radius: 3px; border: 1px solid #e2e2e2;*/
.lista_dati_default li{   background: #fff; padding: 10px 10px; height: 70px;  border-radius: 3px;   border-bottom: 1px solid #e1e1e1; margin: 0!important; }
.lista_dati_default li:first-child{  border-top: 1px solid #e1e1e1;}
.c000{color:#000;}

.no_padding.uk-grid>*{padding-left: 0}

.container_ospite{padding: 0}

.pulsanti_funzioni{background: #fff; border-radius: 5px;  box-shadow: 0 2px 5px 1px #e6e6e6;  height: 60px;  width: 100%;display:inline-flex;padding:5px;margin-bottom: 5px;}
.pulsanti_funzioni .left{width:25%;margin:auto;text-align:center}
.pulsanti_funzioni .left i{font-size: 35px;}
.pulsanti_funzioni .right{width:75%;}

.pulsante_div_home{   background: #e1e1e1;    border-radius: 5px;  margin:5px 0; padding: 5px;    font-size: 10px;    outline: none;   font-weight: 600;  border: none;margin-right: 5px;}

.chevron_right_after:after{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";    padding-left: 5px;}

/*DATE*/

.slider_date{width: 95%;  margin: 10px auto; padding: 10px 5px;   border-radius: 5px;   box-shadow: 0 0 5px 1px #e1e1e1;     background: #fff; }
.slider_date .div_data{text-align: center;}
.slider_date .premi_data .div_data .testo_giorno{color:#4c4c4c;font-size: 13px;font-weight: 600;margin:5px 0}
.slider_date .premi_data .div_data .giorno_data{border-radius:50%;background:#f7f8fa;padding:5px;color:#000;font-weight:600;margin:auto;width:35px;height:35px;position: relative;}
.slider_date .premi_data.data_selezionata .div_data .giorno_data{background:#2574ec ;color:#fff}
.slider_date .premi_data .div_data .giorno_data .notifica_giorno{    position: absolute;top: -3px;  right: -3px;     background: #eb0e0e; color: #fff; font-size: 11px;    width: 12px;  height: 12px;   line-height: 12px;  border-radius: 50%;}
.slider_date .premi_data .div_data .giorno_data .notifica_giorno:empty {display: none;}

.uk-child-width-1-7>*{width: calc(100% * 1 / 7.001);}

/**/

ul.accordion_servizi{padding:0;margin: 5px;}
.accordion_servizi .nome_servizio{font-size: 15px;   display: block;overflow: hidden;    line-height: 1.5;color: #000}
.accordion_servizi  .uk-accordion-content{margin: 0;}

.accordion_servizi .servizio{margin-left: 5px;font-size:15px;border-bottom: 1px solid #e1e1e1;padding: 2px 0}
.accordion_servizi li[data-type="2"], .accordion_servizi li[data-type="1"] {  border-bottom: 1px solid #e1e1e1;  margin: 10px 0;}
.accordion_servizi li.uk-open[data-type="2"], .accordion_servizi li.uk-open[data-type="1"]{border:none;}

/*
.accordion_servizi .uk-accordion-title::before{}
.uk-open>.uk-accordion-title::before {}*/

.uk-modal-body .uk-input{color: #000}

.lista_conti.aperto{display: block}

.fs15{font-size: 15px !important;}
.fs16{font-size: 16px !important;}


.lista_conti .numero_servizi_conto{padding-left: 15px !important;width: 25px;margin: auto;}
.lista_conti .nome_servizi_conto{padding-left: 5px;}
.lista_conti .prezzo_servizi_conto{}


.uk-lightbox{background: #000000b5}
.remove_first_padding li:first-child{padding:0;}


.foto_galleria_slider{height: 250px;    background-size: cover;  background-position: center;  background-repeat: no-repeat;}
@media(min-width: 1100px){
.foto_galleria_slider{height: 450px; }
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.preventivatore__tag {
    background-color: aliceblue;
    padding: 3px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 1px;
    font-size: 12px;
    font-weight: 400;
    width: max-content;
}

.preventivatore__tag__delete {
    border: none;
    background: none;
    padding: 0 0 0 5px;
    cursor: pointer;
}


.notifica_carrello:not(:empty){font-size: 11px;  line-height: 12px;    height: 13px;    width: 13px;  position: absolute;   top: 5px;     
  color: #fff;  right: 3px;  border-radius: 50%;     background: #2574ec;  text-align: center;}

.toolbar_dashboard{box-shadow:0 0 5px 1px #e1e1e1;    position: fixed;  bottom: 0;   height: 50px;  background: #fff;   width: 100%;    margin: 0;   padding: 0; 
right: 0;margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */ margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */}